body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545454;
}

.container{
    width: 800px;
    height: 800px;
    background-color: #F5A9B8;
    display: flex;
    flex-wrap: wrap;
    
    
    
}

.box{
   border:1px solid black;
   display:flex;
}

button{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 50px;
    background-color: #5BCEFA;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: 50px;
    color: #545454;
    border-radius: 60px;
    border: none;
}
